{% extends 'layout.html.twig' %}
{% block contenido %}
    <div class="row">
        <div class="col-12">
            <a class="btn btn-success" href="{{ path('crear_cliente') }}">Nuevo</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Proyectos</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.apPaterno }}</td>
                        <td>{{ cliente.apMaterno }}</td>
                        <td>
                            {% for proyecto in cliente.proyectos %}
                                {{ proyecto.nombre }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            <a class="btn btn-info" href="{{ path('actualizar_clientes',{'id':cliente.id}) }}">Editar</a>
                            <button class="btn btn-danger btnEliminar" data-id="{{ cliente.id }}" >Eliminar</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $('.btnEliminar').click(function (){
            var id = $(this).attr('data-id');
            $.post("{{ path('api_eliminar_clientes') }}",{
                    id: id,
                },
                function (data, status){
                    alert(data);
                    location.reload();
                });
        });
    </script>
{% endblock %}